*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    transition: color .5s;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333 ;
    font-family: Geneva, Tahoma, sans-serif !important;
}
p{
    font-size: 16px !important;
    color: #777 !important;
    line-height: 2 !important;
    text-transform: capitalize;
}

h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover{
    color: #8e7754 !important;
}
/*-----------------------------------------------------------------*/
/* Start Nav*/
nav{
    background-color: rgba(0, 0, 0, .5) !important;
}
nav .nav-item .nav-link{
    transition: color .5s , margin-left .5s;
    padding: 15px !important;
    font-size: 16px;
    position: relative;
}
nav .nav-item .nav-link::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #8e7754;
    transform-origin: center;
    transform: scale(0);
    transition: transform 1s ;
}
nav .nav-item .nav-link:hover{
    color: #8e7754 !important;
    margin-left: 5px;
}
nav .nav-item:hover ::before{
    transform: scale(1);
}
/* End Nav*/
/*-----------------------------------------------------------------*/
/* Start Section Gallery*/
.imge .hover-im img{
    transition: transform .5s;
}
.imge .hover-im:hover img{
    transform: scale(1.2);
}
/* End Section Gallery*/
/*-----------------------------------------------------------------*/
/* Start Footer*/
footer{
    height: 200px;
    width: 100%;
}
footer a{
    text-transform: uppercase;
    font-size: 28px !important;
    color: #777;
    transition: color .5s;
}
footer a:hover{
    color: #8e7754 !important;
}
/* End Footer*/
/*-----------------------------------------------------------------*/